/* body{
    background-color: antiquewhite;
}
h1 {
text-align: center;
color: coral;
}
.startButton {
    margin: auto;
    position: absolute;
    top: 50%;
    top: 20%;
    left: 43%;
    border-radius: 4px;
    background-color: darkgrey;
    height: 50px;
    width: 200px;
}
#firstQuestion, #secondQuestion, #thirdQuestion, #fourthQuestion, #fifthQuestion, #result {
    display: none;
    background-color: rgb(194, 195, 251);
    border-radius: 4px;
    border: 1px solid plum;
    position: fixed;
    height: 160px;
    width: 360px;
    left: 37%;
    top: 20%;
    padding: 6px 8px 8px;
    text-align: center;
 }
 p {
    font-size: 18px;
    color: chocolate;
 }
 .answerButton {
    border-radius: 12px;
    height: 2rem;
    padding: 7px 10px;
    cursor: pointer;
    border: 2px solid gray;
    background-color: cornflowerblue;
    margin: 5px;
 } 
 .close {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 0px;
 } */